@model WebShop.ViewModels.VM_Order_Checkout
@{
    ViewBag.Title = "Checkout";
}
<div class="body-content">
    <div class="container
         ">
        <div class="row">
            <!-- Start Shop 1-7 -->
            <section id="shop-1-7" class="content-block shop-1-7">
                <div class="container">
                    <div class="row">
                        <table class="table table-striped table-hover cart-table">
                            <thead>
                                <tr>
                                    <th>PRODUCT</th>
                                    <th>SIZE</th>
                                    <th>PRICE</th>
                                    <th>QUANTITY</th>
                                    <th>TOTAL</th>
                                    <th>DELETE ITEM</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ShoppingCart.GetShoppingCart().Items)
                                {
                                    <tr>
                                        <td><a href="">@item.Name</a></td>
                                        <td></td>
                                        <td>@item.Price</td>
                                        <td>
                                            @*<form class="form-inline">
                                                    <div class="form-group">
                                                        <label class="sr-only" for="exampleInputAmount">Quantity</label>
                                                        <div class="input-group">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default" type="button">-</button>
                                                            </span>
                                                            <input type="text" class="form-control" id="quantity" placeholder="1">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default" type="button">+</button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </form>*@
                                        </td>
                                        <td><strong></strong></td>
                                        <td>
                                            <button class="btn btn-danger btn-sm product-delete"><i class="fa fa-trash-o"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <hr>
                        <div class="row">
                            <div class="col-md-7">
                                <div class="page-header">
                                    <h3 style="margin-left:20px">Information</h3>
                                </div>
                                <div class="row">
                                    <form id="attributeForm" method="post" action="/home/checkout" class="form-horizontal">

                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">Full name</label>
                                            <div class="col-xs-7">
                                                <input type="text" required class="form-control" name="Name" placeholder="First name" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">City</label>
                                            <div class="col-xs-7">
                                                <input type="text" required class="form-control" name="City" placeholder="City" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">ZipCode</label>
                                            <div class="col-xs-7">
                                                <input type="tel" required class="form-control" name="ZipCode" placeholder="ZipCode" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">Address</label>
                                            <div class="col-xs-7">
                                                <input class="form-control" required name="Address" type="text" placeholder="your Address" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-3 control-label">Email address</label>
                                            <div class="col-xs-7">
                                                <input class="form-control" required name="Email" type="email" placeholder="your email" />
                                            </div>
                                        </div>
                                        <div class="form-group" style="margin-left:185px">
                                            <button type="submit" class="btn btn-primary">Pay With PayPal</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="page-header">
                                    <h3>Cart &amp; Shipping Totals:</h3>
                                </div>
                                <table class="table table-striped table-hover cart-table">
                                    <tbody>
                                        <tr>
                                            <td><strong>Cart Subtotal</strong></td>
                                            <td>DKK </td>
                                        </tr>
                                        <tr>
                                            <td><strong>Shipping</strong></td>
                                            <td>$10.00</td>
                                        </tr>
                                        <tr class="big-total">
                                            <td><strong>Total</strong></td>
                                            <td>$136.00</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--// End Shop 1-7 -->
        </div>
    </div>
</div>
